.root {
    -fx-background-color: #f0f0f0;
}

#leftBox {
    -fx-background-color: #e0e0e0;
    -fx-padding: 10;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 2;
}

#topBox {
    -fx-background-color: #d0d0d0;
    -fx-padding: 10;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 2;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #a0a0a0;
    -fx-text-fill: #ffffff;
    -fx-padding: 8 15;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #909090;
}

#canvasContainer {
    -fx-border-color: #808080;
    -fx-border-width: 2;
}

#selectorAndInputsBox {
    -fx-background-color: #f9f9f9;
    -fx-padding: 10px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
}